<image-banner src="img/backgrounds/01.jpg"></image-banner>

<div class="container">
  <div class="section">

    <div class="col m10 offset-m1 s12">
      <div class="row section-header">
        <h3 class="light center section-header">Contact Form</h3>
      </div>
      <div class="row no-bot-margin">
        <div class="divider no-bot-margin"></div>
      </div>
      <div class="row">
          <form class="col s12" action="mailto:angular-recipebo@gmail.com" method="post" enctype="text/plain">
              <div class="row">
                  <div class="input-field col m6 s12">
                      <input name="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col m6 s12">
                      <input name="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <input name="email" type="email" class="validate" required>
                      <label for="email">Email</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                    <textarea name="message" class="materialize-textarea"></textarea>
                    <label for="message">Message</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col m12">
                   <p class="right-align"><button class="btn btn-large waves-effect waves-light red" type="submit" name="action">Send Message</button></p>
                  </div>
              </div>
          </form>
      </div>
    </div>

  </div>
</div>

<image-banner src="img/backgrounds/02.jpg"></image-banner>
