<div class="container">
  <div class="section">

    <div class="row no-bot-margin">
      <div class="col s12">
        <div class="row section-header">
          <h3 class="light center section-header">{{ recipe.data.title }}</h3>
        </div>
        <div class="row no-bot-margin">
          <div class="divider no-bot-margin"></div>
        </div>
        <div class="row">
          <div class="latest-recipes-card center no-top-margin">
            <div class="row">
              <div class="col s12 offset-m1 m10">
                <p class="light">{{ recipe.data.description }}</p>
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 m6 recipe-img">
                <img materialboxed ng-src="{{ recipe.data.image_url }}" class="materialboxed responsive-img" />
              </div><!-- end recipe image -->

              <div class="col s12 m6 left-align">
                <table class="bordered">
                  <tr>
                    <td class="low-table-padding light">Disk Type:</td>
                    <td class="low-table-padding"><strong>{{ recipe.data.dish_type }}</td>
                  </tr>
                  <tr>
                    <td class="low-table-padding light">Total Servings:</td>
                    <td class="low-table-padding"><strong>{{ recipe.data.total_servings}}</td>
                  </tr>
                  <tr>
                    <td class="low-table-padding light">Submitted By:</td>
                    <td class="low-table-padding"><strong>{{ recipe.data.user_info.name }}</strong></td>
                  </tr>

                  <tr>
                    <td class="low-table-padding light">Preperation Time:</td>
                    <td class="low-table-padding"><strong>{{ recipe.data.prep_time }} minutes</strong></td>
                  </tr>
                  <tr>
                    <td class="low-table-padding light">Cooking Time:</td>
                    <td class="low-table-padding"><strong>{{ recipe.data.cook_time }} minutes</strong></td>
                  </tr>
                  <tr>
                    <td class="low-table-padding light">Total Time:</td>
                    <td class="low-table-padding"><strong>{{ recipe.data.prep_time + recipe.data.cook_time }} minutes</strong></td>
                  </tr>
                </table>
              </div><!-- end recipe details -->
            </div> <!-- end recipe image / details-->

            <div class="row"></div>

            <div class="row">
              <div class="col s12 m6 left-align">
                <table class="bordered">
                  <tr ng-repeat="item in recipe.data.ingredient_list">
                    <td class="low-table-padding red-text text-darken-1">{{ item.amount }} {{ item.measure }}</td>
                    <td class="low-table-padding">{{ item.ingredient.name }}</td>
                  </tr>
                </table>
              </div>

              <div class="col s12 m6 left-align">
                <ol class="light recipe-directions">
                  <li ng-repeat="direction in recipe.data.directions">{{ direction.text }}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="row section-header">
          <h4 class="light center section-header">User Reviews</h4>
        </div>

        <div>
          <div class="divider"></div>
        </div>

        <div class="row review" ng-repeat="review in recipe.data.review_list">
          <div class="col s12 offset-m1 m2 center">
            Submitted by<br />
            <strong>{{ review.user.name }}</strong><br />
            Date: <strong>{{ review.date | date: 'MM/dd/yyyy' }}</strong><br />
            Rating: <strong>{{ review.rating }}</strong><br />
            <a href="" ng-click="recipe.deleteReview(review.id)" ng-hide="user.id != review.user.id">Delete?</a>
          </div>
          <div class="col s12 m8">
            <p class="light no-top-margin ">{{ review.content }}</p>
          </div>
        </div>

        <div class="row" ng-show="user.id" ng-hide="recipe.writingReview || !user.id">
          <div class="col s12 center">
            <button class="btn waves-effect waves-light red" ng-click="recipe.startWritingReview()">Write your own review!
              <i class="material-icons right">forum</i>
            </button>
          </div>
        </div>

        <div class="row" ng-show="recipe.writingReview">
          <div class="row section-header">
            <h4 class="light center section-header">Write your Review</h4>
          </div>

          <div>
            <div class="divider"></div>
          </div>

          <div class="col s12 offset-m2 m8 center">
            <form ng-submit="recipe.postReview()" role="form" name="recipe.reviewForm" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea ng-model="recipe.reviewForm.reviewText" class="materialize-textarea" required></textarea>
                  <label for="review_text">Review</label>
                </div>
              </div>

              <div class="row">
                <div ng-init="rating = star.rating + 1"></div>
                <div class="star-rating" star-rating rating-value="rating" data-max="5"></div>
              </div>

              <div class="row">
                <div class="col s12 center">
                  <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
                    <i class="material-icons right">done</i>
                  </button>
                  <a class="btn waves-effect waves-light red" ng-click="recipe.clearReviewForm()">Cancel
                    <i class="material-icons right">not_interested</i>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div> <!-- end recipe information -->

  </div>
</div>
