<!-- <div ng-if="recipe"> -->

<div id="index-banner" class="parallax-container">
  <div class="parallax"><img class="recipe-details" src="img/steak.jpg"></div>
</div> <!-- end parallax-container -->

<div class="container">
  <div class="section">

    <div class="row no-bot-margin">
      <div class="col s12">
        <div class="row section-header">
          <h3 class="light center section-header">{{ recipe.data.title }}</h3>
        </div>
        <div class="row no-bot-margin">
          <div class="divider no-bot-margin"></div>
        </div>
        <div class="row">
          <div class="latest-recipes-card center no-top-margin">
            <div class="row">
              <div class="col s12 m4 center light">
                Dish Type: <strong>{{ recipe.data.dish_type }}</strong>
              </div>

              <div class="col s12 m4 center light">
                Servings: <strong>{{ recipe.data.total_servings}}</strong><br />
              </div>

              <div class="col s12 m4 center light">
                Submitted by <strong>{{ recipe.data.user_info.name }}</strong>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m4 center light">
                Prep Time: <strong>{{ recipe.data.prep_time }} minutes</strong>
              </div>

              <div class="col s12 m4 center light">
                Cooking Time: <strong>{{ recipe.data.cook_time }} minutes</strong>
              </div>

              <div class="col s12 m4 center light">
                Total Time: <strong>{{ recipe.data.prep_time + recipe.data.cook_time }} minutes</strong>
              </div>
            </div>
            <div class="row">
              <div class="col s12 offset-m1 m10">
                <p class="light">{{ recipe.data.description }}</p>
              </div>
            </div> <!-- end recipe description -->

            <div class="row">
              <div class="col s12 offset-m1 m5 left-align">
                <table class="bordered">
                  <tr ng-repeat="item in recipe.data.ingredient_list">
                    <td class="low-table-padding red-text text-darken-1">{{ item.amount }} {{ item.measure }}</td>
                    <td class="low-table-padding">{{ item.ingredient.name }}</td>
                  </tr>
                </table>
              </div>

              <div class="col s12 m5 left-align">
                <ol class="light recipe-directions">
                  <li ng-repeat="direction in recipe.data.directions">{{ direction.text }}</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="row section-header">
          <h4 class="light center section-header">User Reviews</h4>
        </div>

        <div>
          <div class="divider"></div>
        </div>

        <div class="row review" ng-repeat="review in recipe.data.reviews">
          <div class="col s12 offset-m1 m2 center">
            Submitted by <strong>Brian</strong><br />
            Date: <strong>11/15/2016</strong><br />
            Rating: <strong>4.5</strong><br />
          </div>
          <div class="col s12 m8 no-top-margin">
            <p class="light no-top-margin ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, minus, earum, facilis soluta asperiores ducimus aliquam esse perferendis voluptatibus at magnam illum totam voluptatem odio cum iusto rem impedit distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, minus, earum, facilis soluta asperiores ducimus aliquam esse perferendis voluptatibus at magnam illum totam voluptatem odio cum iusto rem impedit distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, minus, earum, facilis soluta asperiores ducimus aliquam esse perferendis voluptatibus at magnam illum totam voluptatem odio cum iusto rem impedit distinctio.</p>
          </div>
        </div>

        <div class="row">
          <div class="col s12 center">
            <button class="btn waves-effect waves-light red" type="submit" name="action">Write your own review!
              <i class="material-icons right">forum</i>
            </button>
          </div>
        </div>

      </div>
    </div> <!-- end recipe information -->

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img class="recipe-details" src="img/background3.jpg" alt=""></div>
</div> <!-- end parallax-container -->

<!-- </div> -->
