<div class="container">
  <div class="section">

    <div class="row no-bot-margin">
      <div class="col s12 offset-m3 m6">
        <div class="row section-header">
          <h3 class="light center section-header">Create an Account</h3>
        </div>

        <div class="row no-bot-margin">
          <div class="divider no-bot-margin"></div>
        </div>

        <div class="row">
          <form ng-submit="handleRegBtnClick()" role="form" ng-init="registrationForm = {}" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons top-margin-5 prefix">email</i>
                <input name="email" id="email" type="email" class="validate"
                       ng-model="registrationForm.email" required="required">
                <label for="email">Email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons top-margin-5 prefix">supervisor_account</i>
                <input name="name" id="name" type="text" class="validate"
                       ng-model="registrationForm.name" required="required">
                <label for="name">Full Name</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons top-margin-5 prefix">lock</i>
                <input name="password" id="password" type="password" class="validate"
                       ng-model="registrationForm.password" required="required">
                <label for="password">Password</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons top-margin-5 prefix">lock</i>
                <input name="password_confirmation" id="password_confirmation" type="password" class="validate"
                       ng-model="registrationForm.password_confirmation" required="required">
                <label for="password_confirmation">Password Confirmtion</label>
              </div>
            </div>

            <div class="row">
              <div class="col s12 center">
                <button class="btn waves-effect waves-light red" type="submit" name="action">Register
                  <i class="material-icons right">play_arrow</i>
                </button>
              </div>
            </div>
          </form>
        </div>

      </div> <!-- end col s12 -->
    </div> <!-- end login page -->

  </div> <!-- end section -->
</div> <!-- emd container -->
